################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Multidimensional Arrays - Exercise/03.TheHeiganDance-Tests
